.conteiner{
    padding-left: 20px;
    padding-right: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    background-color: rgb(218, 222, 226);
    font-family: sans-serif;
}
.btn{
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.hero{
    position: relative;
}
.flex{
    display: flex;
    background-color: rgb(89, 228, 181);
    padding: 20px;
    border-radius: 10px;
}
.banner-btn{
    border:none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(10, 163, 69);
    font-weight: bold;
    cursor: pointer;
}
.card{
    border: none;
    background-color: whitesmoke;
    padding: 30px;
    width: 250px;
    border-radius: 5px;
}
.flex-2{
    display: flex;
    border-radius: 10px;
    gap: 20px;  
    justify-content: space-between;
}
.card-1{
    background-color: lightseagreen;
    border: none;
    padding: 30px;
    width: 350px;
    border-radius: 15px;
}
.btn-learn-more-1{
    background-color:rgb(5, 131, 125);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.card-2{
    background-color:  rgb(132, 184, 233);
    border: none;
    padding: 30px;
    width: 350px;
    border-radius: 15px;
}
.btn-learn-more-2{
    background-color: rgb(42, 142, 204);
    border:none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.card-3{
    background-color: rgb(226, 210, 157);
    border: none;
    padding: 30px;
    width: 350px;
    border-radius: 15px;
}
.btn-learn-more-3{
    background-color: rgb(224, 182, 41);
    border:none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.quote-bg{
    position: absolute;
}
.div-3{
    background-color: whitesmoke;
    border-radius: 10px;
    border: none;
    padding: 15px;
}
.table
    table, th, td {
        border:1px solid black;
        border-collapse: collapse;
        width: 100%;
}
.table-div{
    background-color: lightsteelblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.opinion{
    padding: 10px;
}
.yess{
    background-color: skyblue;
    padding: 10px;
    border-radius: 5px;
}
.div-4{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
}
.satelite{
    height: 200px;
    border-radius: 10px;
}
.btn-donate{
    background-color: rgb(255, 255, 255);
    border:none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 100PX;
}
.flex-3{
    display: flex;
    border-radius: 10px;
    gap: 100px;  
    justify-content: center;
}
.div-5{

    padding: 10px;
    border-radius: 10px;
}
.donate-now{
text-align: center;
padding: 10px;
background-color: lightseagreen;
border: none;
border-radius: 5px;
height: 53px;
cursor: pointer;
}
.btn-donate:hover {
    background-color: rgb(32, 190, 211);
    font-size: 15px;
  }
  .btn-donate:active {
    background-color: rgb(126, 126, 121);
    font-size: 15px;
  }
.div-6{
    background-color: lightskyblue;
    padding: 10px;
    border-radius: 10px;
}
.flex-4{
    display: flex;
    padding: 15px;
    border: none;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;;
}
.last-div{
    text-align: center;
}
.width{
    width: 1000px;
    height: 50px;
}
.width-1{
    width: 500px;
    height: 50px;
}
